extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.todo-list
		.todo-list-item.todo-list-item--completed
			label.todo-list-item__chb-wrap
				input.todo-list-item__chb.js-todo-list-item__chb(type="checkbox" checked)
				.todo-list-item__chb-pseudo.js-todo-list-item__chb
			.todo-list-item__content
				textarea.textarea-autosize Купить воды
			.todo-list-item__remove.js-todo-list-item__remove
		.todo-list-item
			label.todo-list-item__chb-wrap
				input.todo-list-item__chb.js-todo-list-item__chb(type="checkbox")
				.todo-list-item__chb-pseudo.js-todo-list-item__chb
			.todo-list-item__content
				textarea.textarea-autosize
			.todo-list-item__remove.js-todo-list-item__remove