input,
button,
textarea {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

* {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}


body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #323340;
	background: #9ece9a;
	font-family: $mainFont;
	font-size: 16px;
}

.main {
	flex-grow: 1;
}

html,
body {
	height: 100%;
}

.container {
	box-sizing: border-box;
	width: 981px;
	max-width: 95%;
	max-width: calc(100% - 30px * 2);
	margin: 0 auto;
}

@media screen and (max-width: 550px) {
	.container {
		max-width: calc(100% - 15px * 2);
	}
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;

	-webkit-locale: auto;
	white-space: normal;

	&.compensate-for-scrollbar {
		overflow: hidden;
	}
	color: #053B41;
	background: #e0edec;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.textarea-autosize {
	display: block;
	max-width: 100%;
	width: auto;
	resize: none;
	padding: 4px 6px 3px;
	background: #ffffff;
	border-radius: 4px;
	min-height: 45px;
	color: #053B41;
}

.copyright {
	padding: 5px;
	text-align: center;
	background: #9ECE9A;
}

.todo-list {
	display: flex;
	flex-direction: column;
}

.todo-list-item {
	transition-duration: .2s;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	padding: 10px 15px;
	border-bottom: 1px solid #074F57;

	&__chb-wrap {
		margin-right: 5px;
		align-self: flex-start;
		margin-top: 0;
	}

	&__chb {
		display: none;

		&:checked+.todo-list-item__chb-pseudo {
			&::before {
				opacity: 1;
			}
		}
	}

	&__chb-pseudo {
		cursor: pointer;
		background: #000000;
		width: 45px;
		min-width: 45px;
		height: 45px;
		border-radius: 3px;
		display: block;
		position: relative;
		z-index: 1;

		&::before {
			content: '';
			display: block;
			z-index: 2;
			position: absolute;
			width: calc(100% - 8px);
			height: calc(100% - 8px);
			top: 4px;
			left: 4px;
			background: url(../img/check_mark.svg) no-repeat center center;
			background-size: contain;
			opacity: 0;
			transition-duration: .2s;
		}

		&:hover {

			//opacity: .7;
			&::before {}
		}
	}

	&__content {
		flex-grow: 1;

		textarea {
			width: 100%;
			font-size: 19px;
			line-height: 1;
		}
	}

	&__remove {
		margin-left: 10px;
		cursor: pointer;
		width: 20px;
		min-width: 20px;
		height: 20px;
		border-radius: 3px;
		display: block;
		position: relative;
		z-index: 1;
		background: url(../img/remove.svg) no-repeat center center;
		background-size: contain;
		align-self: flex-start;
margin-top: 2px;
		transition-duration: .2s;

		&:hover {
			opacity: .7;

			&::before {}
		}
	}

	&:nth-child(2n) {
	//	background: #e0edec;
	}

	&--completed {
		text-decoration: line-through;
		opacity: .7;
		order: 999;
		&::after {}
	}
}